<section id='admin'>
</section>
<script type='text/babel' src="/comp/Article.jsx"></script>
<script type='text/babel' src="/comp/AdminArticles.jsx"></script>
<script type='text/babel' src="/comp/NewCommande.jsx"></script>
<script type='text/babel' src="/comp/AdminCommandes.jsx"></script>
<script type='text/babel' src="/comp/NewArticleMenu.jsx"></script>
<script type='text/babel' src="/comp/NewMenu.jsx"></script>
<script type='text/babel' src="/comp/AdminMenus.jsx"></script>
<script type='text/babel' src="/comp/AdminFeed.jsx"></script>
<script type='text/babel' src="/comp/Admin.jsx"></script>
<script type='text/babel' src="/js/admin.js">
</script>