<section id='admin'>
</section>
<script type='text/babel' src="/ears"></script>
<script type='text/babel' src="/sio"></script>
<script type='text/babel' src="/siosocket"></script>
<script type='text/babel' src="/teeshop"></script>
<script src="/js/cman.js"></script>
<script type='text/babel' src="/comp/AdminArticles.jsx"></script>
<script type='text/babel' src="/comp/AdminCommandes.jsx"></script>
<script type='text/babel' src="/comp/AdminMenus.jsx"></script>
<script type='text/babel' src="/comp/AdminFeed.jsx"></script>
<script type='text/babel' src="/comp/Admin.jsx"></script>
<script type='text/babel' src="/js/admin.js">
</script>