<!DOCTYPE html>

<html>
	<head>
		<title>
			Gestio App
		</title>
		<meta name='viewport' content="width=device-width,initial-scale=1" >
		<link rel="stylesheet" href="/css/master.css">
	</head>
	<body>
		<header>	
			<div id='logobox'>
				<img id='logo' src="/imgs/gestio_mini.png" alt="gestio">
			</div>
			<div id='search'>
				<input type="search"><button>chercher</button>
			</div>
		</header>
		<style>
			body{
				/* background-color: linear-gradient(to right,rgba(17, 17, 9, 0.7),rgba(50,50,30,0.9),rgba(50,50,30,0.7),rgba(50,50,30,0.9),rgba(50,50,30,0.5)); */
				background-blend-mode: color-burn;
			}
		</style>
		<script crossorigin src="/js/react.development.js"></script>
		<script crossorigin src="/js/react-dom.development.js"></script>
		<script src="/js/babel.min.js"></script>
		<script src="/ears"></script>
		<script src="/sio"></script>
		<script src="/siosocket"></script>
		<script src="/teeshop"></script>
		<script src="/js/cman.js"></script>
		<script src="/js/tsplash.js"></script>
		<script type='text/babel' src="/comp/FormFields.jsx"></script>
		<script>
			function iLI(){
				return Cman.cooks().hasOwnProperty('cleeId')
			}
			const PageSocket = TeeSioCliSocket
			const Splash = new TeeSplash()
			Splash.addSplashLogo('/imgs/logo.png')
			Splash.Splash()
		</script>

		<!-- content -->	
	</body>
</html>
