<link rel="stylesheet" href="/css/home.css">
<section id='home'>
</section>
<script type='text/babel' src="/comp/ActionsArticle.jsx"></script>
<script type='text/babel' src="/comp/Article.jsx"></script>
<script type='text/babel' src="/comp/Menu.jsx"></script>
<script type='text/babel' src="/comp/Menus.jsx"></script>
<script type='text/babel' src="/comp/CommandesClient.jsx"></script>
<script type='text/babel' src="/comp/ViewSwitch.jsx"></script>
<script type='text/babel' src="/comp/ViewSwitcher.jsx"></script>
<script type='text/babel' src="/comp/HomeContainer.jsx"></script>
<script type='text/babel' src="/comp/ArticleCommande.jsx"></script>
<script type='text/babel' src="/comp/Commande.jsx"></script>
<script type='text/babel' src="/comp/Home.jsx"></script>
<script type='text/babel' src="/js/home.js">
</script>