#home{
    display: flex;
    flex-direction: column;
    width:100%;
}
#home ul{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#home ul li{
    list-style-type:none ;
    margin: 0;
}
#home{
    width:90%;
    padding: 5%;
}
#home ul{
    padding: 0;
}
#home #menus{
    display: flex;
    margin:0;
    width: 100%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.25);
}
#home #menus .menu {
    display: flex;
    flex-direction: column;
    width:90%;
    min-height: 30vh;
    padding: 5%;
    padding-bottom: 4em;
    margin-bottom:5%;
    border-top: 0.1em solid ivory;
}

#home #menus .menu ul{
    display: flex;
    padding: 2.5%;
    width:95%;
}
.article-menu{
    margin-bottom:5%;
    display: flex;
    flex-direction: column;
}
#home #menus .menu .article-menu .infos-article-menu{
    width:100%;
    height:100%;
    flex-direction: row;
}
#home #menus .menu .article-menu .actions-article-menu{
    width:100%;
    height:10%;
    flex-direction: row;
}
#home #menus .menu .article-menu .actions-article-menu .action-article{
    width:3.5%;
    margin-right: 2.5%;
    background: rgba(200, 200, 200, 0.3);
    cursor: pointer;
    border-radius:6em;
}
#home #menus .menu .article-menu .actions-article-menu .action-article:hover,#home #menus .menu .article-menu .actions-article-menu .action-article:active{
    background:silver;
}
#home #menus .menu .article-menu .actions-article-menu .action-article img{
    width:100%;
    height:100%;
}
#home #menus .menu .article-menu .infos-article-menu li{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.article-menu .illu{
    width:20%;
}
.article-menu img{
    width:100%;
    height:100%;
}
#home .switcher-tabs{
    position: sticky;
    top:0;
    left: 0;
    min-height:5vh;
    background: url('/imgs/backlogo_2.png');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#home .switcher-tabs > *{
    padding: 2.5%;
}
#home .switcher-tabs .actual{
    min-width: 35vw;
    background:rgba(0, 0, 0, 0.4);
}
#home #commandes #articles-commande{
    display: flex;
    flex-direction: column;
}
#home #commandes #articles-commande .article-commande{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.5);
    border-top:  0.05em solid rgba(200, 200, 200, 0.5);
}
#home #commandes #articles-commande .article-commande:first-of-type{
    background: rgba(200, 0, 0, 0.5);
    color: white;
}
#home #commandes #articles-commande .article-commande > ul{
    display: flex;
    min-width: 35%;
    flex-wrap: wrap;
    text-align: center;
}
@media screen and (max-width:997px){

    #home #menus .menu {
        display: flex;
        flex-direction: column;
        width:90%;
        padding: 5%;
        padding-bottom: 4em;
        margin-bottom:5%;
        border-top: 0.1em solid ivory;
    }
    #home .switcher-tabs > *{
        padding: 5%;
    }
    #home #menus .menu .article-menu .actions-article-menu .action-article{
        width:7.5%;
    }
}