
#login,#login form{
    padding: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#login form{
    height: 50vh;
    padding-bottom: 40%;
    justify-content: center;
}
