#articles{
    display: flex;
    flex-direction: column;
}
#liste_articles{
    display: flex;
    flex-direction: row;
}
.article{
    width: 8vw;
    height: 100%;
    margin: 1vw;
    padding: 2.5%;
}
