#commandes{
    display: flex;
    flex-direction: column;
}
#liste_commandes{
    display: flex;
    overflow:hidden ;
    flex-direction: row;
    overflow-x: scroll;
}
.commande{
    max-width: 25vw;
    height: 100%;
}
.commande .uuid{
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    word-wrap: break-word;
    width: 90%;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.4);
}