#commandes{
    display: flex;
    flex-direction: column;
}
#liste_commandes{
    display: flex;
    flex-direction: row;
}
.commande{
    width: 8vw;
    height: 100%;
    margin: 1vw;
    padding: 5%;
}