body{
    background-image: url('/pics/splash.jpg');
    background-color:rgba(70,58,58,0.6);
    background-blend-mode: color-burn;
    background-size: cover;
}
#menu{
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 98%;
    background:rgba(108,83,83,0.4);
    color:#e3dedb;
    font-weight: bolder;
}
#label{    
    text-align: center;
}
#liste_menus{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height:78%;
    margin: 1%;
    max-height:78%;
    overflow: hidden;
    overflow-y: scroll;
}
.menu,.menu div,menu section{
    border-radius: 0.6em;
}
.menu{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-bottom: 1vh;
    background:linear-gradient(to bottom,rgba(70,58,58,0.6),rgba(18,18,83,0.4),rgba(0,0,0,0.4),rgba(18,18,83,0.4),rgba(70,58,58,0.6));
}
.menu > .nom{
    display: flex;
    flex-direction:row ;
    padding: 1%;
    justify-content: right;
    background:rgba(18,18,18,0.4);
    color:#ffcc00;
}
.liste_articles{
    display: flex;
    flex-direction: column;
}
.article{
    display:flex;
    flex-direction:column;
    padding: 2%;
    margin-bottom: 1%;
    border-bottom: 1px solid rgba(18,18,18,0.4);
    cursor: pointer;
}
.article:hover,.article:active{
    background:rgba(0,0,0,0.5);
}
.article .data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.article .actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.article .actions .action {
    display:flex;
    justify-content: space-around;
    width:40vw; 
}
.article .actions .action .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right:2% ;
    /* width:100%; */
    /* height: 3vh; */
    /* background:rgba(255,20,20,0.4); */
}
.article .actions .action .content *{
    width:100%;
    height:100%;
    border:1px solid white;
}
#commande{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 20%;
    position: sticky;
    bottom: 0;
    background:rgba(108,83,83,0.4);
}
.bloc_info_commande{
    padding: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 98%;
    overflow: hidden;
}
#articles_commande{
    width: 80%;
    background: rgba(255,42,42,0.4);
}
#articles_commande h2,#resume_commande h2{
    height: 10%;
    display: flex;
}
#articles_commande .article_commande{
    margin: 2%;
    padding: 2%;
}
#articles_commande .liste_articles,#resume_commande .total_commande{
    padding: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}
#resume_commande{
    background: rgba(255,42,42,0.8);
}
#resume_commande button{
    width: 100%;
    padding: 5%;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: 0 0 0 0.05em #556655;
}
#resume_commande button:active{
    width: 100%;
    padding: 5%;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: 0 0 0 0.08em #222222;
}
@media screen and (max-width:997px) {
    body{
        font-size: 12px;
    }
}