#menus{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: scroll;
    overflow:hidden;
    border-radius: 0.6em;
    margin: 1%;
}   
.menu .nom{
    padding: 1%;
    background:rgba(0,0,0,0.4);
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.article{
    width: 8vw;
    height: 100%;
    margin: 1vw;
    padding: 5%;
}