<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link rel="stylesheet" href="/css/admin.css"/>
    <title></title>
  </head>
  <body>
    <section id='admin'>
      x{admincommandes}x
      x{adminmenus}x
      x{articles}x
    </section>
    <script type="text/javascript" src='/sio'>
    </script>
    <script type="text/javascript" src='/js/socket.js'>
    </script>
    <script type="text/javascript" src='/js/master.js'>
    </script>
    <script type="text/javascript" src='/js/admin/admin.js'>
    </script>
  </body>
</html>
