<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css">
    <title>Document</title>
</head>
<body>
    <style>
        #splash{
            display: flex;
            width:100%;
            height: 100%;
        }
        #splash img{
            width: 100%;
            height: 100%;
        }
    </style>
    <section id='splash'>
        <img src="/pics/gestio.svg">
    </section>
    <script>
        setTimeout(
            ()=>{
                document.location.href = '/menu'
            },10000
        )
    </script>
</body>
</html>