<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <style media="screen">
    </style>
    <section id='contains'>
      <form id="login" method="post">
        <div class="field">
          <input type="text" name="username" id='username' placeholder="identifiant">
        </div>
        <div class="field">
          <input type="password" name="password" id='password' placeholder="mot de passe">
        </div>
        <div class="field">
          <input type="button" name="login" id='dologin' value="se connecter">
        </div>
      </form>
    </section>
    <script type="text/javascript" src='/sio'>
    </script>
    <script type="text/javascript" src='/js/socket.js'>
    </script>
    <script type="text/javascript" src='/js/master.js'>
    </script>
    <script type="text/javascript" src='/js/admin/login.js'>
    </script>
  </body>
</html>
