<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css"/>
    <title>Document</title>
</head>
<body>
    <section id='menu'>
        <h1 id='label'>
            MENU
        </h1>
        <section id='liste_menus'>
        </section>
        <section id="commande">
            <div class='bloc_info_commande' id="articles_commande">
                <h2>
                    commande
                </h2>
                <div class="liste_articles">

                </div>
            </div>
            <div class='bloc_info_commande' id="resume_commande">
                <h2>
                    total
                </h2>
            </div>
        </section>
    </section>
    x{splash}x
    <script type="text/javascript" src='/sio'>
    </script>
    <script type="text/javascript" src='/js/socket.js'>
    </script>
    <script type="text/javascript" src='/js/master.js'>
    </script>
    <script type="text/javascript" src='/js/commande.js'>
    </script>
    <script type="text/javascript" src='/js/menu.js'>
    </script>

</body>
</html>