<link rel="stylesheet" href="/css/menus.css">
<section id='menus'>
  <h1>
    Menus
  </h1>
  x{ajoutermenu}x
  <section class="menu">
    <div class="article">
      <div class="nom">
        nom
      </div>
      <div class="prix">
        prix
      </div>
    </div>
    <div class="article">
      <div class="nom">
        nom
      </div>
      <div class="prix">
        prix
      </div>
    </div>
    <div class="article">
      <div class="nom">
        nom
      </div>
      <div class="prix">
        prix
      </div>
    </div>
  </section>
</section>
