<link rel="stylesheet" href="/css/menus.css">
<section id='menus'>
  <h1>
    Menus
  </h1>
  x{ajoutermenu}x
  <section id="liste_menus">
  </section>
</section>

<script>
  window.addEventListener(
    'load',
    ()=>{
      post(
        '/menus'
      )
      window.liste_menus = document.querySelector('#menus #liste_menus')
      window.menus = []
      function addArticleFields(formelem){
        let nomarticle = document.createElement('input')
        nomarticle.classList.add('field')
        nomarticle.placeholder = "nom de l'article"
        let prixarticle = document.createElement('input')
        nomarticle.type='number'
        prixarticle.classList.add('field')
        prixarticle.placeholder = "prix de l'article"
        let ajouter_from = document.createElement('select')
        let defaultoption = document.createElement('option')
        defaultoption.value = 'aucun'
        defaultoption.innerText = "Selection dans la liste d'article"
        ajouter_from.appendChild(defaultoption);
        let timeout = null
        async function articlesLoop(){
          if(articles && articles.length) {
              articles.forEach(
                article=>{
                  let articleoption = document.createElement('option')
                  articleoption.value = article.id
                  articleoption.innerText = article.nom
                  ajouter_from.appendChild(articleoption)
                }
            ) 
            clearInterval(timeout)
          }else articlesLoop()
          
        }
        timeout = setInterval(articlesLoop,1500)
        let ajouter = document.createElement('input')
        ajouter.type = 'button'
        ajouter.value = 'ajouter'
        ajouter_from.addEventListener(
          'change',e=>{
            if(e.target.value!='aucun'){
              nomarticle.disabled = 1
              prixarticle.disabled = 1
            }else{
              nomarticle.disabled = 0
              prixarticle.disabled = 0
            }
          }
        )
        ajouter.addEventListener(
          'click',e=>{
            let article_id =  ajouter_from.value
            let menu_id     =  formelem.parentNode.parentNode.parentNode.id.replace('menu','')
            let nom_article = nomarticle.value
            let prix_article = prixarticle.value
            post(
              '/nouvel_article_menu',{menu_id,article_id,article:{nom_article,prix_article}}
            )
          }
        )
        formelem.appendChild(nomarticle)
        formelem.appendChild(prixarticle)
        formelem.appendChild(ajouter_from)
        formelem.appendChild(ajouter)
        return formelem
      }
      function buildMenuBox(menu){

        const {nom,id}  = menu



        const menubox = document.createElement('div')
        menubox.classList.add('menu')
        
        const articlesbox = document.createElement('div')
        articlesbox.classList.add('articlesmenu')
        
        const articleslabel = document.createElement('h1')
        articleslabel.innerText = 'articles'
        articlesbox.appendChild(articleslabel)

        const articleslist = document.createElement('li')
        articleslist.classList.add('list')
        articlesbox.appendChild(articleslist)

        menubox.appendChild(articlesbox)
        const selfbox = document.createElement('div')
        selfbox.classList.add('self')
        const selfinfos = document.createElement('div')
        selfinfos.classList.add('selfinfos')

        const nombox = document.createElement('h1')
        nombox.innerText = nom
        nombox.classList.add('nom')
        nombox.classList.add('selfinfo')

        selfinfos.appendChild(nombox)
        
        const selfactions = document.createElement('div')
        selfactions.classList.add('selfactions')
        
        selfbox.appendChild(selfinfos)
        selfbox.appendChild(selfactions)

        menubox.appendChild(selfbox)


        // let menubox    = document.createElement('div')
        // let nombox        = document.createElement('div')

        // nombox.innerText  = nom

        // menubox.id = `menu${id}`
        // menubox.classList.add('menu')
        // nombox.classList.add('nom')

        // let hookboxes = document.createElement('section')
        // hookboxes.classList.add('hookboxes')
        // let addhook = document.createElement('span')
        // addhook.classList.add('hookbox')
        // addhook.classList.add('addarticlehook')
        // addhook.innerText = "+\tnouvel article"
        // hookboxes.appendChild(addhook)
        
        // let actionboxes = document.createElement('section')
        // actionboxes.classList.add('actionboxes')
        // let addelembox = document.createElement('div')
        // addelembox.classList.add('ajouter_article')
        // addelembox.classList.add('actionbox')
        // let addelemform = document.createElement('form')
        // addelemform.classList.add('nouvel_article_menu')
        // addelembox.appendChild(addelemform)
        // actionboxes.appendChild(addelembox)
        // addelemform = addArticleFields(addelemform)
        // actionboxes.classList.add('hidden')
        // menubox.appendChild(nombox)
        // menubox.appendChild(hookboxes)
        // menubox.appendChild(actionboxes)
        // addhook.addEventListener(
        //   'click',e=>{
        //     actionboxes.classList[actionboxes.classList.contains('hidden')?"remove":"add"]('hidden')
        //   }
        // )
        return menubox
      }
      function  updateMenusView(){
        liste_menus.innerText = ""
        menus.forEach(
          menu=>{
            liste_menus.appendChild(buildMenuBox(menu))
          }
        )
      }
      get('/menusRes',data=>{
        menus = []
        data.forEach(
          menu=>{
            menus.push(menu)
          }
        )
        updateMenusView()
      })
    }
  )
</script>
